<div>
  <div>
    <h1>
      List of all integration criteria
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new integration criterium
    </h2>

    <form action="/insert_integration_criterium" method="post">
      <div>
        <input type="checkbox" id="deposit_requirement_box" name="query_deposit_requirement" value="1">

        <label for="deposit_requirement_box">Deposit requirement</label>
      </div>

      <div>
        <input type="checkbox" id="visit_requirement_box" name="query_visit_requirement" value="1">

        <label for="visit_requirement_box">Visit requirement</label>
      </div>

      <div>
        <input type="checkbox" id="pr_requirement_box" name="query_pr_requirement" value="1">

        <label for="pr_requirement_box">Pr requirement</label>
      </div>

      <div>
        <input type="checkbox" id="housing_requirement_box" name="query_housing_requirement" value="1">

        <label for="housing_requirement_box">Housing requirement</label>
      </div>

      <div>
        <input type="checkbox" id="language_dane_requirement_box" name="query_language_dane_requirement" value="1">

        <label for="language_dane_requirement_box">Language dane requirement</label>
      </div>

      <div>
        <label for="language_foreigner_requirement_box">
          Language foreigner requirement
        </label>

        <input type="text" id="language_foreigner_requirement_box" name="query_language_foreigner_requirement">
      </div>

      <div>
        <input type="checkbox" id="education_requirement_box" name="query_education_requirement" value="1">

        <label for="education_requirement_box">Education requirement</label>
      </div>

      <div>
        <input type="checkbox" id="work_dane_requirement_box" name="query_work_dane_requirement" value="1">

        <label for="work_dane_requirement_box">Work dane requirement</label>
      </div>

      <div>
        <input type="checkbox" id="work_foreigner_requirement_box" name="query_work_foreigner_requirement" value="1">

        <label for="work_foreigner_requirement_box">Work foreigner requirement</label>
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <button>
        Create integration criterium
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Deposit requirement
        </th>

        <th>
          Visit requirement
        </th>

        <th>
          Pr requirement
        </th>

        <th>
          Housing requirement
        </th>

        <th>
          Language dane requirement
        </th>

        <th>
          Language foreigner requirement
        </th>

        <th>
          Education requirement
        </th>

        <th>
          Work dane requirement
        </th>

        <th>
          Work foreigner requirement
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_integration_criteria.each do |an_integration_criterium| %>
      <tr>
        <td>
          <%= an_integration_criterium.id %>
        </td>

        <td>
          <%= an_integration_criterium.deposit_requirement %>
        </td>

        <td>
          <%= an_integration_criterium.visit_requirement %>
        </td>

        <td>
          <%= an_integration_criterium.pr_requirement %>
        </td>

        <td>
          <%= an_integration_criterium.housing_requirement %>
        </td>

        <td>
          <%= an_integration_criterium.language_dane_requirement %>
        </td>

        <td>
          <%= an_integration_criterium.language_foreigner_requirement %>
        </td>

        <td>
          <%= an_integration_criterium.education_requirement %>
        </td>

        <td>
          <%= an_integration_criterium.work_dane_requirement %>
        </td>

        <td>
          <%= an_integration_criterium.work_foreigner_requirement %>
        </td>

        <td>
          <%= an_integration_criterium.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(an_integration_criterium.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_integration_criterium.updated_at) %> ago
        </td>

        <td>
          <a href="/integration_criteria/<%= an_integration_criterium.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
