<div>
  <div>
    <h1>
      Integration criterium #<%= @the_integration_criterium.id %> details
    </h1>

    <div>
      <div>
        <a href="/integration_criteria">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_integration_criterium/<%= @the_integration_criterium.id %>">
          Delete integration criterium
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Deposit requirement
      </dt>
      <dd>
        <%= @the_integration_criterium.deposit_requirement %>
      </dd>

      <dt>
        Visit requirement
      </dt>
      <dd>
        <%= @the_integration_criterium.visit_requirement %>
      </dd>

      <dt>
        Pr requirement
      </dt>
      <dd>
        <%= @the_integration_criterium.pr_requirement %>
      </dd>

      <dt>
        Housing requirement
      </dt>
      <dd>
        <%= @the_integration_criterium.housing_requirement %>
      </dd>

      <dt>
        Language dane requirement
      </dt>
      <dd>
        <%= @the_integration_criterium.language_dane_requirement %>
      </dd>

      <dt>
        Language foreigner requirement
      </dt>
      <dd>
        <%= @the_integration_criterium.language_foreigner_requirement %>
      </dd>

      <dt>
        Education requirement
      </dt>
      <dd>
        <%= @the_integration_criterium.education_requirement %>
      </dd>

      <dt>
        Work dane requirement
      </dt>
      <dd>
        <%= @the_integration_criterium.work_dane_requirement %>
      </dd>

      <dt>
        Work foreigner requirement
      </dt>
      <dd>
        <%= @the_integration_criterium.work_foreigner_requirement %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_integration_criterium.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_integration_criterium.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_integration_criterium.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit integration criterium
    </h2>

    <form action="/modify_integration_criterium/<%= @the_integration_criterium.id %>"  method="post" >
      <div>
        <input type="checkbox" id="deposit_requirement_box" name="query_deposit_requirement" value="1" <%= "checked" if @the_integration_criterium.deposit_requirement %>>

        <label for="deposit_requirement_box">
            Deposit requirement
        </label>
      </div>

      <div>
        <input type="checkbox" id="visit_requirement_box" name="query_visit_requirement" value="1" <%= "checked" if @the_integration_criterium.visit_requirement %>>

        <label for="visit_requirement_box">
            Visit requirement
        </label>
      </div>

      <div>
        <input type="checkbox" id="pr_requirement_box" name="query_pr_requirement" value="1" <%= "checked" if @the_integration_criterium.pr_requirement %>>

        <label for="pr_requirement_box">
            Pr requirement
        </label>
      </div>

      <div>
        <input type="checkbox" id="housing_requirement_box" name="query_housing_requirement" value="1" <%= "checked" if @the_integration_criterium.housing_requirement %>>

        <label for="housing_requirement_box">
            Housing requirement
        </label>
      </div>

      <div>
        <input type="checkbox" id="language_dane_requirement_box" name="query_language_dane_requirement" value="1" <%= "checked" if @the_integration_criterium.language_dane_requirement %>>

        <label for="language_dane_requirement_box">
            Language dane requirement
        </label>
      </div>

      <div>
        <label for="language_foreigner_requirement_box">
          Language foreigner requirement
        </label>

        <input type="text" id="language_foreigner_requirement_box" name="query_language_foreigner_requirement" value="<%= @the_integration_criterium.language_foreigner_requirement %>">
      </div>

      <div>
        <input type="checkbox" id="education_requirement_box" name="query_education_requirement" value="1" <%= "checked" if @the_integration_criterium.education_requirement %>>

        <label for="education_requirement_box">
            Education requirement
        </label>
      </div>

      <div>
        <input type="checkbox" id="work_dane_requirement_box" name="query_work_dane_requirement" value="1" <%= "checked" if @the_integration_criterium.work_dane_requirement %>>

        <label for="work_dane_requirement_box">
            Work dane requirement
        </label>
      </div>

      <div>
        <input type="checkbox" id="work_foreigner_requirement_box" name="query_work_foreigner_requirement" value="1" <%= "checked" if @the_integration_criterium.work_foreigner_requirement %>>

        <label for="work_foreigner_requirement_box">
            Work foreigner requirement
        </label>
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_integration_criterium.user_id %>">
      </div>

      <button>
        Update integration criterium
      </button>
    </form>
  </div>
</div>

<hr>
