<div>
  <div>
    <h1>
      List of all couples
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new couple
    </h2>

    <form action="/insert_couple" method="post">
      <div>
        <label for="danish_user_id_box">
          Danish user
        </label>

        <input type="text" id="danish_user_id_box" name="query_danish_user_id">
      </div>

      <div>
        <label for="foreign_user_id_box">
          Foreign user
        </label>

        <input type="text" id="foreign_user_id_box" name="query_foreign_user_id">
      </div>

      <div>
        <label for="points_box">
          Points
        </label>

        <input type="text" id="points_box" name="query_points">
      </div>

      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city">
      </div>

      <button>
        Create couple
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Danish user
        </th>

        <th>
          Foreign user
        </th>

        <th>
          Points
        </th>

        <th>
          City
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_couples.each do |a_couple| %>
      <tr>
        <td>
          <%= a_couple.id %>
        </td>

        <td>
          <%= a_couple.danish_user_id %>
        </td>

        <td>
          <%= a_couple.foreign_user_id %>
        </td>

        <td>
          <%= a_couple.points %>
        </td>

        <td>
          <%= a_couple.city %>
        </td>

        <td>
          <%= time_ago_in_words(a_couple.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_couple.updated_at) %> ago
        </td>

        <td>
          <a href="/couples/<%= a_couple.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
