<div>
  <div>
    <h1>
      List of all volunteer teams
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new volunteer team
    </h2>

    <form action="/insert_volunteer_team" method="post">
      <div>
        <label for="team_name_box">
          Team name
        </label>

        <input type="text" id="team_name_box" name="query_team_name">
      </div>

      <div>
        <label for="team_lead_id_box">
          Team lead
        </label>

        <input type="text" id="team_lead_id_box" name="query_team_lead_id">
      </div>

      <button>
        Create volunteer team
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Team name
        </th>

        <th>
          Team lead
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_volunteer_teams.each do |a_volunteer_team| %>
      <tr>
        <td>
          <%= a_volunteer_team.id %>
        </td>

        <td>
          <%= a_volunteer_team.team_name %>
        </td>

        <td>
          <%= a_volunteer_team.team_lead_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_volunteer_team.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_volunteer_team.updated_at) %> ago
        </td>

        <td>
          <a href="/volunteer_teams/<%= a_volunteer_team.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
