<div>
  <div>
    <h1>
      Volunteer team #<%= @the_volunteer_team.id %> details
    </h1>

    <div>
      <div>
        <a href="/volunteer_teams">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_volunteer_team/<%= @the_volunteer_team.id %>">
          Delete volunteer team
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Team name
      </dt>
      <dd>
        <%= @the_volunteer_team.team_name %>
      </dd>

      <dt>
        Team lead
      </dt>
      <dd>
        <%= @the_volunteer_team.team_lead_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_volunteer_team.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_volunteer_team.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit volunteer team
    </h2>

    <form action="/modify_volunteer_team/<%= @the_volunteer_team.id %>"  method="post" >
      <div>
        <label for="team_name_box">
          Team name
        </label>

        <input type="text" id="team_name_box" name="query_team_name" value="<%= @the_volunteer_team.team_name %>">
      </div>

      <div>
        <label for="team_lead_id_box">
          Team lead
        </label>

        <input type="text" id="team_lead_id_box" name="query_team_lead_id" value="<%= @the_volunteer_team.team_lead_id %>">
      </div>

      <button>
        Update volunteer team
      </button>
    </form>
  </div>
</div>

<hr>
