<div>
  <div>
    <h1>
      Journalist #<%= @the_journalist.id %> details
    </h1>

    <div>
      <div>
        <a href="/journalists">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_journalist/<%= @the_journalist.id %>">
          Delete journalist
        </a>
      </div>
    </div>

    <dl>
      <dt>
        First name
      </dt>
      <dd>
        <%= @the_journalist.first_name %>
      </dd>

      <dt>
        Last name
      </dt>
      <dd>
        <%= @the_journalist.last_name %>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @the_journalist.email %>
      </dd>

      <dt>
        Phone
      </dt>
      <dd>
        <%= @the_journalist.phone %>
      </dd>

      <dt>
        Outlet
      </dt>
      <dd>
        <%= @the_journalist.outlet %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_journalist.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_journalist.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_journalist.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit journalist
    </h2>

    <form action="/modify_journalist/<%= @the_journalist.id %>"  method="post" >
      <div>
        <label for="first_name_box">
          First name
        </label>

        <input type="text" id="first_name_box" name="query_first_name" value="<%= @the_journalist.first_name %>">
      </div>

      <div>
        <label for="last_name_box">
          Last name
        </label>

        <input type="text" id="last_name_box" name="query_last_name" value="<%= @the_journalist.last_name %>">
      </div>

      <div>
        <label for="email_box">
          Email
        </label>

        <input type="text" id="email_box" name="query_email" value="<%= @the_journalist.email %>">
      </div>

      <div>
        <label for="phone_box">
          Phone
        </label>

        <input type="text" id="phone_box" name="query_phone" value="<%= @the_journalist.phone %>">
      </div>

      <div>
        <label for="outlet_box">
          Outlet
        </label>

        <input type="text" id="outlet_box" name="query_outlet" value="<%= @the_journalist.outlet %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_journalist.user_id %>">
      </div>

      <button>
        Update journalist
      </button>
    </form>
  </div>
</div>

<hr>
