<div>
  <div>
    <h1>
      List of all articles
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new article
    </h2>

    <form action="/insert_article" method="post">
      <div>
        <label for="journalist_id_box">
          Journalist
        </label>

        <input type="text" id="journalist_id_box" name="query_journalist_id">
      </div>

      <div>
        <label for="outlet_box">
          Outlet
        </label>

        <input type="text" id="outlet_box" name="query_outlet">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="publication_date_box">
          Publication date
        </label>

        <input type="date" id="publication_date_box" name="query_publication_date">
      </div>

      <div>
        <label for="politician_id_box">
          Politician
        </label>

        <input type="text" id="politician_id_box" name="query_politician_id">
      </div>

      <button>
        Create article
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Journalist
        </th>

        <th>
          Outlet
        </th>

        <th>
          User
        </th>

        <th>
          Publication date
        </th>

        <th>
          Politician
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_articles.each do |an_article| %>
      <tr>
        <td>
          <%= an_article.id %>
        </td>

        <td>
          <%= an_article.journalist_id %>
        </td>

        <td>
          <%= an_article.outlet %>
        </td>

        <td>
          <%= an_article.user_id %>
        </td>

        <td>
          <%= an_article.publication_date %>
        </td>

        <td>
          <%= an_article.politician_id %>
        </td>

        <td>
          <%= time_ago_in_words(an_article.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_article.updated_at) %> ago
        </td>

        <td>
          <a href="/articles/<%= an_article.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
