<div>
  <div>
    <h1>
      List of all permanent residency criteria
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new permanent residency criterium
    </h2>

    <form action="/insert_permanent_residency_criterium" method="post">
      <div>
        <input type="checkbox" id="language_requirement_box" name="query_language_requirement" value="1">

        <label for="language_requirement_box">Language requirement</label>
      </div>

      <div>
        <input type="checkbox" id="work_requirement_box" name="query_work_requirement" value="1">

        <label for="work_requirement_box">Work requirement</label>
      </div>

      <div>
        <input type="checkbox" id="inicome_requirement_box" name="query_inicome_requirement" value="1">

        <label for="inicome_requirement_box">Inicome requirement</label>
      </div>

      <div>
        <label for="active_citizenship_requirement_box">
          Active citizenship requirement
        </label>

        <input type="text" id="active_citizenship_requirement_box" name="query_active_citizenship_requirement">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <button>
        Create permanent residency criterium
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Language requirement
        </th>

        <th>
          Work requirement
        </th>

        <th>
          Inicome requirement
        </th>

        <th>
          Active citizenship requirement
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_permanent_residency_criteria.each do |a_permanent_residency_criterium| %>
      <tr>
        <td>
          <%= a_permanent_residency_criterium.id %>
        </td>

        <td>
          <%= a_permanent_residency_criterium.language_requirement %>
        </td>

        <td>
          <%= a_permanent_residency_criterium.work_requirement %>
        </td>

        <td>
          <%= a_permanent_residency_criterium.inicome_requirement %>
        </td>

        <td>
          <%= a_permanent_residency_criterium.active_citizenship_requirement %>
        </td>

        <td>
          <%= a_permanent_residency_criterium.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_permanent_residency_criterium.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_permanent_residency_criterium.updated_at) %> ago
        </td>

        <td>
          <a href="/permanent_residency_criteria/<%= a_permanent_residency_criterium.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
