<div>
  <div>
    <h1>
      Learn more about <%= @the_user.first_name %>
    </h1>
  
  <hr>

    <div>
      <div>
        <a href="/examples/overview">
          Go back
        </a>
      </div>
    </div>
  
  <hr>
    
    <div>
      <h3>
        List of relevant policies and politicians
      </h3>
    </div>

    <dl>
      <dt>
        Policies
      </dt>
      <dd>
        <%= @the_user.id.policies.description %>
      </dd>

      <dt>
        Politicians
      </dt>
      <dd>
        <%= @the_user.districts.politician.name %>
      </dd>


<div>
  <div>
    <h2>
      Edit user
    </h2>

    <form action="/modify_user/<%= @the_user.id %>"  method="post" >
      <div>
        <label for="residency_id_box">
          Residency
        </label>

        <input type="text" id="residency_id_box" name="query_residency_id" value="<%= @the_user.residency_id %>">
      </div>

      <div>
        <label for="first_name_box">
          First name
        </label>

        <input type="text" id="first_name_box" name="query_first_name" value="<%= @the_user.first_name %>">
      </div>

      <div>
        <label for="last_name_box">
          Last name
        </label>

        <input type="text" id="last_name_box" name="query_last_name" value="<%= @the_user.last_name %>">
      </div>

      <div>
        <label for="nationality_box">
          Nationality
        </label>

        <input type="text" id="nationality_box" name="query_nationality" value="<%= @the_user.nationality %>">
      </div>

      <div>
        <label for="industry_id_box">
          Industry
        </label>

        <input type="text" id="industry_id_box" name="query_industry_id" value="<%= @the_user.industry_id %>">
      </div>

      <div>
        <label for="permission_name_box">
          Permission name
        </label>

        <input type="text" id="permission_name_box" name="query_permission_name" value="<%= @the_user.permission_name %>">
      </div>

      <div>
        <label for="permission_photo_box">
          Permission photo
        </label>

        <input type="text" id="permission_photo_box" name="query_permission_photo" value="<%= @the_user.permission_photo %>">
      </div>

      <div>
        <label for="permission_story_box">
          Permission story
        </label>

        <input type="text" id="permission_story_box" name="query_permission_story" value="<%= @the_user.permission_story %>">
      </div>

      <div>
        <label for="permission_media_box">
          Permission media
        </label>

        <input type="text" id="permission_media_box" name="query_permission_media" value="<%= @the_user.permission_media %>">
      </div>

      <div>
        <label for="municipality_id_box">
          Municipality
        </label>

        <input type="text" id="municipality_id_box" name="query_municipality_id" value="<%= @the_user.municipality_id %>">
      </div>

      <div>
        <label for="personal_story_box">
          Personal story
        </label>

        <input type="text" id="personal_story_box" name="query_personal_story" value="<%= @the_user.personal_story %>">
      </div>

      <div>
        <label for="photo_box">
          Photo
        </label>

        <input type="text" id="photo_box" name="query_photo" value="<%= @the_user.photo %>">
      </div>

      <button>
        Update user
      </button>
    </form>
  </div>
</div>

<hr>
