<div>
  <div>
    <h1>
      List of all stances
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new stance
    </h2>

    <form action="/insert_stance" method="post">
      <div>
        <label for="policy_id_box">
          Policy
        </label>

        <input type="text" id="policy_id_box" name="query_policy_id">
      </div>

      <div>
        <label for="politician_id_box">
          Politician
        </label>

        <input type="text" id="politician_id_box" name="query_politician_id">
      </div>

      <div>
        <label for="sentiment_score_box">
          Sentiment score
        </label>

        <input type="text" id="sentiment_score_box" name="query_sentiment_score">
      </div>

      <button>
        Create stance
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Policy
        </th>

        <th>
          Politician
        </th>

        <th>
          Sentiment score
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_stances.each do |a_stance| %>
      <tr>
        <td>
          <%= a_stance.id %>
        </td>

        <td>
          <%= a_stance.policy_id %>
        </td>

        <td>
          <%= a_stance.politician_id %>
        </td>

        <td>
          <%= a_stance.sentiment_score %>
        </td>

        <td>
          <%= time_ago_in_words(a_stance.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_stance.updated_at) %> ago
        </td>

        <td>
          <a href="/stances/<%= a_stance.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
