<div>
  <div>
    <h1>
      Stance #<%= @the_stance.id %> details
    </h1>

    <div>
      <div>
        <a href="/stances">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_stance/<%= @the_stance.id %>">
          Delete stance
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Policy
      </dt>
      <dd>
        <%= @the_stance.policy_id %>
      </dd>

      <dt>
        Politician
      </dt>
      <dd>
        <%= @the_stance.politician_id %>
      </dd>

      <dt>
        Sentiment score
      </dt>
      <dd>
        <%= @the_stance.sentiment_score %>
      </dd>

      <dt>
        Comment
      </dt>
      <dd>
        <%= @the_stance.comment %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_stance.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_stance.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit stance
    </h2>

    <form action="/modify_stance/<%= @the_stance.id %>"  method="post" >
      <div>
        <label for="policy_id_box">
          Policy
        </label>

        <input type="text" id="policy_id_box" name="query_policy_id" value="<%= @the_stance.policy_id %>">
      </div>

      <div>
        <label for="politician_id_box">
          Politician
        </label>

        <input type="text" id="politician_id_box" name="query_politician_id" value="<%= @the_stance.politician_id %>">
      </div>

      <div>
        <label for="sentiment_score_box">
          Sentiment score
        </label>

        <input type="text" id="sentiment_score_box" name="query_sentiment_score" value="<%= @the_stance.sentiment_score %>">
      </div>

      <div>
        <label for="comment_box">
          Comment
        </label>

        <input type="text" id="comment_box" name="query_comment" value="<%= @the_stance.comment %>">
      </div>

      <button>
        Update stance
      </button>
    </form>
  </div>
</div>

<hr>
