<div>
  <div>
    <h1>
      List of all municipalities
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new municipality
    </h2>

    <form action="/insert_municipality" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="district_id_box">
          District
        </label>

        <input type="text" id="district_id_box" name="query_district_id">
      </div>

      <button>
        Create municipality
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          District
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_municipalities.each do |a_municipality| %>
      <tr>
        <td>
          <%= a_municipality.id %>
        </td>

        <td>
          <%= a_municipality.name %>
        </td>

        <td>
          <%= a_municipality.district_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_municipality.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_municipality.updated_at) %> ago
        </td>

        <td>
          <a href="/municipalities/<%= a_municipality.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
