<div>
  <h1>
    Hear from our members
  </h1>
<div>
 
<hr>

<div>
  <h2>
    List of personal examples
  </h2>
<div>

<table border="1">
  <tr>
    <th>
      Name
    </th>
    <th>
      Photo
    </th>
    <th>
      Municipality
    </th>
    <th>
      Industry
    </th>
    <th>
      Story
    </th>
    <th>
      Policies
    </th>
  </tr>

  <% @list_of_users.each do |a_user| %>
    <tr>
      <td>
        <%= a_user.first_name %> <%= a_user.last_name %>
      </td>
      <td>
        <img src=<%= a_user.photo %>>
      </td>
      <td>
        <%= a_user.municipality.name %>
      </td>
      <td>
        <%= a_user.industry.name %>
      </td>
      <td>
        <%= a_user.personal_story %>
      </td>
      <td>
        <%= a_user.policies %>
      </td>
    </tr>
  <% end%>
</table>

  <tr>    First & Last Name    </tr>
  <tr>    Photo     </tr>
  <tr>    Municipality    </tr>
  <tr>    Industry    </tr>
  <tr>    Personal stories    </tr>
  <tr>    Policies    </tr>
</table>

<p> Include validation for photo and story permissions!</p>

industry = Industry.where({ :id => the_user.industry_id }).at(0)
industry_name = industry.name

end
