<div>
  <div>
    <h1>
      Example #<%= @the_example.id %> details
    </h1>

    <div>
      <div>
        <a href="/examples">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_example/<%= @the_example.id %>">
          Delete example
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Value
      </dt>
      <dd>
        <%= @the_example.value_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_example.user_id %>
      </dd>

      <dt>
        Policy
      </dt>
      <dd>
        <%= @the_example.policy_id %>
      </dd>

      <dt>
        Remark
      </dt>
      <dd>
        <%= @the_example.remark %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_example.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_example.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit example
    </h2>

    <form action="/modify_example/<%= @the_example.id %>"  method="post" >
      <div>
        <label for="value_id_box">
          Value
        </label>

        <input type="text" id="value_id_box" name="query_value_id" value="<%= @the_example.value_id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_example.user_id %>">
      </div>

      <div>
        <label for="policy_id_box">
          Policy
        </label>

        <input type="text" id="policy_id_box" name="query_policy_id" value="<%= @the_example.policy_id %>">
      </div>

      <div>
        <label for="remark_box">
          Remark
        </label>

        <input type="text" id="remark_box" name="query_remark" value="<%= @the_example.remark %>">
      </div>

      <button>
        Update example
      </button>
    </form>
  </div>
</div>

<hr>
