<div>
  <div>
    <h1>
      More to know about <%= @the_example.user.first_name %> <%= @the_example.user.last_name %>
    </h1>

    <div>
      <div>
        <a href="/examples/overview">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_example/<%= @the_example.id %>">
          Delete example
        </a>
      </div>
    </div>
  
<hr>

  <div>
    <h2>
      List of relevant policies and politicians
    </h2>
    
    <div>
      <dl>
        <dt>
          Policies
        </dt>

<hr>

  <div>
    <div>
      <h2>
        Edit this example
      </h2>

    <div>
      <label for="policy_id_box">
        Policy
      </label>

      <input type="text" id="policy_id_box" name="query_policy_id" value="<%= @the_example.policy.description %>">
    </div>

      <button>
        Add new policy
      </button>
    </form>
  </div>
</div>

<hr>

<p><%= @not_matching_examples %>

<p>...</p>
