<div>
  <div>
    <h1>
      Policies affecting <%= @the_example.user.first_name %> <%= @the_example.user.last_name %>
    </h1>

    <div>
      <div>
        <a href="/examples/overview">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_example/<%= @the_example.id %>">
          Delete example
        </a>
      </div>
    </div>

    <dl>
      <dt>
        List of relevant policies
      </dt>

    <%= @the_example %>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit example
    </h2>

      <div>
        <label for="policy_id_box">
          Policy
        </label>

        <input type="text" id="policy_id_box" name="query_policy_id" value="<%= @the_example.policy_id %>">
      </div>

      <button>
        Update example
      </button>
    </form>
  </div>
</div>

<hr>
