<div>
  <div>
    <h1>
      List of all identifications
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new identification
    </h2>

    <form action="/insert_identification" method="post">
      <div>
        <label for="identification_type_box">
          Identification type
        </label>

        <input type="text" id="identification_type_box" name="query_identification_type">
      </div>

      <div>
        <label for="person_type_box">
          Person type
        </label>

        <input type="text" id="person_type_box" name="query_person_type">
      </div>

      <div>
        <label for="remark_box">
          Remark
        </label>

        <input type="text" id="remark_box" name="query_remark">
      </div>

      <button>
        Create identification
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Identification type
        </th>

        <th>
          Person type
        </th>

        <th>
          Remark
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_identifications.each do |an_identification| %>
      <tr>
        <td>
          <%= an_identification.id %>
        </td>

        <td>
          <%= an_identification.identification_type %>
        </td>

        <td>
          <%= an_identification.person_type %>
        </td>

        <td>
          <%= an_identification.remark %>
        </td>

        <td>
          <%= time_ago_in_words(an_identification.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_identification.updated_at) %> ago
        </td>

        <td>
          <a href="/identifications/<%= an_identification.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
