<div>
  <h1>
    Find out politicians' stances
  </h1>
<div>
 
<hr>

<div>
  <h3>
    List of politicians by support (high to low)
  </h3>
<div>

<table id="politicians">
  <tr>
    <th>
      Name
    </th>
    <th>
      Photo
    </th>
    <th>
      District
    </th>
    <th>
      Industry
    </th>
    <th>
      Story
    </th>
    <th>
      Policies
    </th>
  </tr>

  <% @list_of_politicians.each do |a_politician| %>
    <tr>
      <td>
        <%= a_politician.name %>
      </td>
      <td>
        <img src=<%= a_politician.photo %> class="user-images">
      </td>
      <td>
        <%= a_politician.district.name %>
      </td>  
      <td>
        <%= a_politician.stances %>
      </td>
      <td>
        <a href="/politicians/<%= a_politician.id %>">
          Show policy stances
        </a>
      </td>
    </tr>
  <% end%>
</table>

  <tr>    First & Last Name    </tr>
  <tr>    Photo     </tr>
  <tr>    Municipality    </tr>
  <tr>    Industry    </tr>
  <tr>    Personal stories    </tr>
  <tr>    Policies    </tr>
</table>

<p> Show details will provide the examples, the causes, if there is a match between victim id from their region and their cause, ability to edit their stance... </p>
