<div>
  <h1>
    Find out politicians' stances
  </h1>
<div>
 
<hr>

<div>
  <h3>
    List of politicians by support (high to low)
  </h3>
<div>

<table id="politicians">
  <tr>
    <th>
      Name
    </th>
    <th>
      Photo
    </th>
    <th>
      Party
    </th>
    <th class="">
      Support (15=most, 1=least)
    </th>
    <th>
      District
    </th>
    <th>
      # Victims in District
    </th>
    <th>
      Policies
    </th>
  </tr>

  <% @list_of_politicians.each do |a_politician| %>
    <tr>
      <td>
        <%= a_politician.name %>
      </td>
      <td>
        <img src=<%= a_politician.photo %> class="user-images">
      </td>
      <td>
        <%= a_politician.party %>
      </td>
      <td>
        <%= a_politician.total_sentiment_score %>
      </td>
      <td>
        <%= a_politician.party %>
      </td>  
      <td>
        <%= a_politician.party %>
      </td>
      <td>
        <a href="/politicians/<%= a_politician.id %>">
          Show policy stances
        </a>
      </td>
    </tr>
  <% end%>
</table>
