<div>
  <h1>
    Find out politicians' stances
  </h1>
<div>
 
<hr>

<div>
  <h3>
    Ranking of politicians by support (high to low)
  </h3>
<div>

<table id="politicians">
  <tr>
    <th>
      Name
    </th>
    <th>
      Photo
    </th>
    <th>
      Party
    </th>
    <th>
      Sentiment Score
    </th>
    <th>
      Category
    </th>
    <th>
      District
    </th>
    <th>
      Cause(s)
    </th>
  </tr>

  <% @list_of_politicians.each do |a_user| %>
    <tr>
      <td>
        <%= a_user.name %>
      </td>
      <td>
        <img src=<%= a_user.photo %>>
      </td>
      <td>
        <%= a_user.party %>
      </td>  
      <td>
        <%= a_user.total_sentiment_score %>
      </td>  
      <td>
        <%= a_user.total_sentiment_score %>
      </td>
      <td>
        <a href="/politicians/<%= a_user.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end%>
</table>

  <tr>    First & Last Name    </tr>
  <tr>    Photo     </tr>
  <tr>    Municipality    </tr>
  <tr>    Industry    </tr>
  <tr>    Personal stories    </tr>
  <tr>    Policies    </tr>
</table>

<p> Show details will provide the examples, the causes, if there is a match between victim id from their region and their cause, ability to edit their stance... </p>

end

    <th>
      Victim Count - District
    </th>
    <th>
      Victim Count - Causes(s)
    </th>
