<div>
  <div>
    <h1>
      Stances for <%= @the_politician.name %>
    </h1>
  </div>

<hr>

  <div>
    <div>
      <a href="/politicians/overview">
        Go back
      </a>
    </div>
  </div>

<hr>

  <div class="card">
    <dt>
      Comment(s)
    </dt>
    <dd>
      <% if @the_politician.stances != nil %>
        <% @the_politician.stances.each do |a_policy| %>
          <li><%= a_policy.comment %></li>
        <% end %>
      <% else %>
        Uh oh! This politician has made no official comments...
      <% end %>
    </dd>
  </div>

<hr>

gt_client = Google::Cloud::Translate.new({ :version => :v2 })

translation = gt_client.translate("Hello, world!", { :to => "es" })

<div>
  <div>
    <h3>
      Edit policy stance
    </h3>
  </div>

  <form action="/modify_politician/<%= @the_politician.id %>"  method="post" >
      <div>
        <label for="district_id_box">
          District
        </label>

        <input type="text" id="district_id_box" name="query_district_id" value="<%= @the_politician.district_id %>">
      </div>

      <div>
        <label for="party_box">
          Party
        </label>

        <input type="text" id="party_box" name="query_party" value="<%= @the_politician.party %>">
      </div>

      <div>
        <label for="total_sentiment_score_box">
          Sentiment Score
        </label>

        <input type="text" id="total_sentiment_score_box" name="query_total_sentiment_score" value="<%= @the_politician.total_sentiment_score %>">
      </div>

      <div>
        <label for="spokesperson_box">
          Spokesperson (T/F)
        </label>

        <input type="text" id="spokesperson_box" name="query_spokesperson" value="<%= @the_politician.spokesperson %>">
      </div>

      <button class="button">
        Update politican
      </button class="button">
    </form>
  </div>
</div>

<hr>


    