<div>
  <div>
    <h1>
      List of all anonymity levels
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new anonymity level
    </h2>

    <form action="/insert_anonymity_level" method="post">
      <div>
        <label for="permission_name_box">
          Permission name
        </label>

        <input type="text" id="permission_name_box" name="query_permission_name">
      </div>

      <div>
        <label for="permission_photo_box">
          Permission photo
        </label>

        <input type="text" id="permission_photo_box" name="query_permission_photo">
      </div>

      <div>
        <label for="permission_story_box">
          Permission story
        </label>

        <input type="text" id="permission_story_box" name="query_permission_story">
      </div>

      <div>
        <label for="permission_media_box">
          Permission media
        </label>

        <input type="text" id="permission_media_box" name="query_permission_media">
      </div>

      <button>
        Create anonymity level
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Permission name
        </th>

        <th>
          Permission photo
        </th>

        <th>
          Permission story
        </th>

        <th>
          Permission media
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_anonymity_levels.each do |an_anonymity_level| %>
      <tr>
        <td>
          <%= an_anonymity_level.id %>
        </td>

        <td>
          <%= an_anonymity_level.permission_name %>
        </td>

        <td>
          <%= an_anonymity_level.permission_photo %>
        </td>

        <td>
          <%= an_anonymity_level.permission_story %>
        </td>

        <td>
          <%= an_anonymity_level.permission_media %>
        </td>

        <td>
          <%= time_ago_in_words(an_anonymity_level.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_anonymity_level.updated_at) %> ago
        </td>

        <td>
          <a href="/anonymity_levels/<%= an_anonymity_level.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
