<div>
  <div>
    <h1>
      Anonymity level #<%= @the_anonymity_level.id %> details
    </h1>

    <div>
      <div>
        <a href="/anonymity_levels">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_anonymity_level/<%= @the_anonymity_level.id %>">
          Delete anonymity level
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Permission name
      </dt>
      <dd>
        <%= @the_anonymity_level.permission_name %>
      </dd>

      <dt>
        Permission photo
      </dt>
      <dd>
        <%= @the_anonymity_level.permission_photo %>
      </dd>

      <dt>
        Permission story
      </dt>
      <dd>
        <%= @the_anonymity_level.permission_story %>
      </dd>

      <dt>
        Permission media
      </dt>
      <dd>
        <%= @the_anonymity_level.permission_media %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_anonymity_level.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_anonymity_level.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit anonymity level
    </h2>

    <form action="/modify_anonymity_level/<%= @the_anonymity_level.id %>"  method="post" >
      <div>
        <label for="permission_name_box">
          Permission name
        </label>

        <input type="text" id="permission_name_box" name="query_permission_name" value="<%= @the_anonymity_level.permission_name %>">
      </div>

      <div>
        <label for="permission_photo_box">
          Permission photo
        </label>

        <input type="text" id="permission_photo_box" name="query_permission_photo" value="<%= @the_anonymity_level.permission_photo %>">
      </div>

      <div>
        <label for="permission_story_box">
          Permission story
        </label>

        <input type="text" id="permission_story_box" name="query_permission_story" value="<%= @the_anonymity_level.permission_story %>">
      </div>

      <div>
        <label for="permission_media_box">
          Permission media
        </label>

        <input type="text" id="permission_media_box" name="query_permission_media" value="<%= @the_anonymity_level.permission_media %>">
      </div>

      <button>
        Update anonymity level
      </button>
    </form>
  </div>
</div>

<hr>
