<!DOCTYPE html>
<html>
  <head>
    <title>Fair & Fornuftig</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

    <style>

        body {
          padding-top: 20px;
          padding-bottom: 20px;
          background-color: #FDF9E5;
        }

       .items {
          display: flex;
          flex-direction: column;
          gap: 25px;
          max-width: 550px;
          flex-grow: 1;
        }

        div {
          font-family: 'Playfair Display', serif, bold;
          }

        .name {
          color: #FF9551;
          display: flex;
          justify-content: center;
          font-size: 200%;
        }

        .banner{
          display: flex;
          justify-content: center;
        }

        .social-icons {
          display: flex;
          justify-content: space-around;
          font-size: 130%;
        }

        .social-icons a {
          color: #FF4A4A;
          text-decoration: none;
        }

        .link {
          background-color: #6FEDD6;
          display: flex;
          align-items: center;
          padding: 5px;
        }

        .link a {
          color: #FF4A4A;
          text-decoration: none;
          text-align: center;
          flex-grow: 1;
        }
   
        .banner-image {
          width: 128px;
          height: 128px;
          object-fit: cover;
          border-radius: 128px;
          border: double thick #FF9551
        }

        .thumbnail {
          width: 48px;
          height: 48px;
          border-radius: 48px;
          object-fit: cover;
        }

      </style>

  </head>

  <body>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/policies">Policies</a>
      </li> 
      <li>
        <a href="/examples">Examples</a> 
      </li>
      <li>
        <a href="/politicians">Politicians</a>
      </li>

      <% if session.fetch(:user_id) == nil %>
        <li>
          <a href="/member_sign_up">Sign up</a>
        </li>
        <li>
          <a href="/member_sign_in">Sign in</a>
        </li>
      <% else %>
        <li>
          <a href="/member_sign_out">Sign out</a>
        </li>
      <% end %>
    </ul>

    <p style="color: green"><%= notice %></p>

    <p style="color: red"><%= alert %></p>

    <%= yield %>
  </body>
</html>
