<!DOCTYPE html>
<html>
<head>
  <title>
    Fair & Fornuftig
  </title>

  <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
  <meta charset="utf-8">

  <!-- Make it responsive to small screens. Include only if you're using responsive CSS. -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Helper methods that create <link>s and <script>s for all of the stylesheets and javascript files in the non-`/public/` assets folders. -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%# javascript_pack_tag  'application' %>

  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

  <!-- Rendering a partial that has all the <link>s and <script>s for assets we are pulling from content-delivery networks. -->
  <%= render "shared/cdn_assets" %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <style>
    body { 
          padding-bottom: 70px;
          background-color: #FDF9E5;
       }
}

    .items {
          display: flex;
          flex-direction: column;
          gap: 25px;
          max-width: 550px;
          flex-grow: 1;
        }

    div {
          font-family: 'Playfair Display', serif, bold;
          }
    
    body {
          font-family: 'Playfair Display', serif, bold;
          }

  </style>
</head>

<body>
  <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/policies">Policies</a>
      </li> 
      <li>
        <a href="/examples">Examples</a> 
      </li>
      <li>
        <a href="/politicians">Politicians</a>
      </li>

      <% if session.fetch(:user_name) == nil %>
        <li>
          <a href="/member_sign_up">Sign up</a>
        </li>
        <li>
          <a href="/member_sign_in">Sign in</a>
        </li>
      <% else %>
        <li>
          <a href="/member_sign_out">Sign out</a>
        </li>
      <% end %>
    </ul>

    <p style="color: green"><%= notice %></p>

    <p style="color: red"><%= alert %></p>

    <%= yield %>
  </div>

</body>
</html>
