<div>
  <div>
    <h1>
      List of all policies
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new policy
    </h2>

    <form action="/insert_policy" method="post">
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="injustice_id_box">
          Injustice
        </label>

        <input type="text" id="injustice_id_box" name="query_injustice_id">
      </div>

      <button>
        Create policy
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          Injustice
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_policies.each do |a_policy| %>
      <tr>
        <td>
          <%= a_policy.id %>
        </td>

        <td>
          <%= a_policy.description %>
        </td>

        <td>
          <%= a_policy.injustice_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_policy.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_policy.updated_at) %> ago
        </td>

        <td>
          <a href="/policies/<%= a_policy.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
